.computer-panel-outer {
    background: white;
    width: 700px;
    height: 470px;
}

.computer-panel {
    font-family: 'Encode Sans Condensed', sans-serif;
    background: white;
    border: 2px solid rgb(194, 194, 194);
    border-top: none;
    width: 100%;
    height: 100%;
}

.computer-panel h3 {
    border-bottom: 1px solid gray;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.computer-panel .row {
    display: flex;
}

.bg-apply {
    margin: 20px;
    text-align: center;
    font-family: 'Encode Sans Condensed', sans-serif;
}

.bg-apply button {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.8rem;
    margin: 0 20px;
    padding: 5px 8px;
    background: white;
    border: 1px solid rgb(103, 0, 129);
    color: rgb(103, 0, 129);
    border-radius: 6px;
}

.bg-apply .bg-cancel-btn:hover {
    cursor: pointer;
    border: 1px solid rgb(103, 0, 129);
    color: rgb(103, 0, 129);
}

.bg-apply .bg-cancel-btn:hover,
.bg-apply .bg-apply-btn:hover {
    cursor: pointer;
    background: rgba(34, 255, 45, 0.8);
    color: rgb(255, 255, 255);
    border: 1px solid white;
}

.bg-apply .bg-cancel-btn {
    color: white;
    background: rgb(103, 0, 129);
}

.bg-apply button:active {
    border: 1px solid rgb(0, 153, 255) !important;
}

.background-choice {    
    width: 16rem;
    text-align: center;
    padding: 5px 0;
    margin: 0 15px 0 15px;
    border-radius: 10px;
}

.background-choice img   {
    padding: 1rem 1.5rem;
    width: 9rem;
    height: 6rem;
}

.background-choice div    {
    margin: 1rem 2.7rem;
    width: 9rem;
    height: 6rem;
}

.background-choice p {
    font-size: 1.4rem;
    padding: 0 1rem ;
}

.classic-div {
    background: rgb(68, 173, 128);
}

.green-div {
    background: rgb(0, 128, 6);
}

.purple-div {
    background: rgb(103, 0, 129);
}

