h5, p {
    font-size: 1.4rem;
    font-weight: 500;
}

.dial-up-panel {
    position: absolute;
    z-index: 100;
    top: 0;
    background: rgb(194, 194, 194);
    border: 2px solid rgb(194, 194, 194);
    width: 40rem;
    height: 48rem;
}

#internet-blue-top-box {
    border: none;
}

.cancel-btn {
    padding: 0;
    margin: 0;
    text-align: center;
}

.cancel-btn button {
    padding: 4px 8px;
}

.cancel-btn button span {
    font-size: 1.4rem;
    padding: 2px 9px;
    outline: 1px dotted black;
}

.dial-up-gif {
    width: 92%;
    height: 12rem;
    top: 8%;
    padding: 4%;
    padding-bottom: 0%;
}

.dial-up-txt {
    width: 90%;
    padding: 5%;
    padding-top: 0%;
}

.dial-up-txt p {
    border: 1px solid gray;
    padding: 3rem;
    margin-bottom: 2.2rem;
}

.dial-up-txt h5 {
    font-size: 1.7rem;
}

.dial-up-txt .on-border {
    background: rgb(194, 194, 194);
    position: relative;
    margin: 0;
    font-size: 1.6rem;
    top: 1rem;
    left: 3rem;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */