.files-panel-outer {
    background: white;
    width: 500px;
    height: 400px;
}

.files-panel {
    background: rgb(202, 202, 202);
    border: 2px solid rgb(194, 194, 194);
    border-top: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.files-panel-line {
    padding: 5px 10px 10px;
    border-bottom: 1px dashed salmon;
    width: 100%;
    display: block;
    text-decoration: none;
    font-style: none;
    color: black;
}

.files-panel .space {
    padding-bottom: 10px;
}


.files-panel-line:hover {
    cursor: pointer;
    background: rgb(110, 28, 187);
    color: white;
}   

.files-panel-line img {
    /* position: relative; */
    /* top: 15px; */
    cursor: pointer;
    height: 45px;
    width: 45px;
}

.files-panel-line .line-txt {
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 65%;
    width: 100%;
    /* display: block; */
}