* {
    font-size: 10px;
    padding: 0;
    margin: 0;
}
html {
    font-family: 'Acme', sans-serif;
}

*:focus{
    outline: 0;
}

body {
    overflow: hidden;
}

.container {
    /* left: 10%; */
    width: 80% !important;
    margin-left: 10%;
}

.fullScreen {
    width: 100%;
    height: 100%;
}

.blue-top-box {
    border: 2px solid rgb(194, 194, 194);
    width: 100%;
    height: 2.2rem;
    padding-top: 2px;
    background: navy;
    cursor: move;
}

.invisible {
    display: none;
}

.panel_header {
    padding-left: 15px;
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
    display: inline;
}

.panel_btn {
    text-align: center;
    font-size: 1.3rem;
    float: right;
    width: 1.8rem;
    height: 1.8rem;
    margin: 2px 1px;
}

.windows-btn {
    margin: 2px 0 4px 4px;
    background: rgb(194, 194, 194);
    border-top: ridge 2px white;
    border-left: ridge 2px white;
    border-bottom: ridge 2px black;
    border-right: ridge 2px black;
}

.windows-btn:active {
    background: rgb(223, 223, 223);
    border-top: ridge 2px rgb(0, 0, 0);
    border-left: ridge 2px rgb(0, 0, 0);
    border-bottom: ridge 2px rgb(255, 255, 255);
    border-right: ridge 2px rgb(255, 255, 255);
}

.windows-theme-border {
    border-top: ridge 3px white;
    border-left: ridge 3px white;
    border-bottom: ridge 2px black;
    border-right: ridge 2px grey;
}

.highlighted-blue {
    background-image: linear-gradient(to right, rgba(38, 0, 255, 0.5), rgba(147, 147, 255, 0.35));
}

div .highlighted-blue-dotted {
    background-image: linear-gradient(to right, rgba(38, 0, 255, 0.5), rgba(147, 147, 255, 0.35));
    border: 1px;
    border-style: dotted;
    border-color: rgb(148, 148, 148);
}

/* .keep-it-one-hundred {
    width: 100%;
    height: 100%;
} */

/* - - - - - - - - - - - - - - - - - - - AWS Cert areas - - - - - - - - - - - - - - - - -  */

.aws-sa-cert {
    position: relative;
    /* bottom: 10px; */
    right: 0;
    width: 100%;
    height: 100%;
}

.aws-about {
    height: 50px;
    width: 50px;
    padding: 20px 30px 10px;
}

.aws-toolbar {
    position: fixed;
    right: 80px;
    height: 28px;
    width: 28px;
}

.nav-about-aws {
    padding: 0 20px;
    background: rgb(131, 131, 131);
    border-top: 1px solid rgb(220, 123, 245);
    display: flex;
    flex-basis: row;
    justify-content: space-between;
}