.contact-panel-outer {
    /* background: rgb(255, 0, 106); */
    width: 400px;
    height: 400px;
}

.contact-panel {
    background: rgb(243, 243, 243);
    border: 2px solid rgb(194, 194, 194);
    border-top: none;
    width: 100%;
    height: 100%;
}

.contact-panel div {
    margin-bottom: 55px;
}

.contact-panel-content {
    padding: 10px;
}

.contact-panel-content p { 
    color: black;
    background: white;
    padding: 4px 0;
}

.contact-panel-content .subj { 
    color: red;
    font-size: 1.4rem;
}

.contact-panel-content .contact-panel-info {
    padding: 4px;
    text-decoration: none;
    color: rgb(77, 77, 77);
    font-size: 1.4rem;
}

.contact-panel-content a:hover {
    background: rgb(255, 166, 0);
    color: rgb(255, 255, 255);
    border-radius: 4px;
}

.contact-panel-content img {
    width: 100px;
    height: 100px;
    margin: 20px;
}

.contact-panel-info {
    font-size: 1.6rem;
    font-weight: bolder;
}