.about-panel-outer {
    /* background: rgb(148, 0, 37); */
    width: 500px;
    height: 400px;
}

.about-panel {
    overflow-y: scroll;
    overflow-x: hidden;
    background: rgb(247, 247, 247);
    border: 2px solid rgb(194, 194, 194);
    border-top: none;
    width: 100%;
    height: 100%;
}

#about-panel-main-project {
    margin-top: 30px;
}

.more-less {
    font-size: 1.6rem;
    color: black;
}

.bg-white {
    background: rgb(247, 247, 247);
}

.checkbox-div-for-fa {
    position: relative;
    bottom: 11px;
    left: 38%;
}


.gray-line {
    border-bottom: 1px solid rgb(220, 123, 245);
    padding: 1px;
}

.about-panel-info, 
.about-panel-header {
    padding: 0 30px;
}

.about-panel-header {
    text-align: center;
    font-size: 2.2rem;
    background: white;
    /* background: rgb(224, 224, 224); */
    border: 1px solid rgb(209, 209, 209);
    border-left: none;
    margin: 0 5% 0 0;
    padding: 30px 30px 20px;
    /* border-bottom-left-radius: 70px; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.about-panel-info {
    margin: 10px;
}

.fancy-checkbox input[type="checkbox"],
.fancy-checkbox .checked {
    display: none;
}

.fancy-checkbox input[type="checkbox"],
.fancy-checkbox .checked {
    display: none;
}
 
.fancy-checkbox input[type="checkbox"]:checked ~ .checked {
    display: inline-block;
}

 
.fancy-checkbox input[type="checkbox"]:checked ~ .unchecked {
    display: none;

}

.fancy-checkbox .checked {
    color: rgb(255, 102, 0);
    font-weight: 500;
}

.fancy-checkbox .unchecked {
    color: lime;   
    font-weight: 500;
}

.fancy-checkbox .unchecked,
.fancy-checkbox .checked {
    font-size: 1.7rem; 
}

/* - - - - - - - - - - - - inside the project info - - - - - - - - - - - - - - - - - - - */
input ~ .about-project-info {
    display: none;
}

input:checked ~ .about-project-info {
    display: block;
    border-bottom: 1px solid rgb(220, 123, 245);
    padding: 7px 4px;
    position: relative;
    right: 38%;
    top: 0;
}

.about-project-info em {
    font-size: 1.4rem;
    font-weight: bold;
}

.about-project-info p {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.about-project-info td {
    font-size: 1.4rem;
    padding: 5px 15px;
}

.about-project-info th {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 5px;
}

.about-project-info table {
    margin: 5px;
}

.about-project-info table tr:nth-child(even) {
    background: rgb(249, 237, 255);
}

.about-project-info table tr:nth-child(odd) {
    background: rgb(241, 255, 242);
}