.about-panel-outer {
    background: white;
    width: 500px;
    height: 400px;
}

.about-panel-header {
    font-size: 2.5rem;
}


.gray-line {
    border-bottom: 1px solid gray;
    padding: 5px;
}

.about-panel {
    overflow-y: scroll;
    overflow-x: hidden;
    background: white;
    border: 2px solid rgb(194, 194, 194);
    border-top: none;
    width: 100%;
    height: 100%;
}

.about-panel-info, 
.about-panel-header {
    padding: 0 30px;
}

.about-panel-info {
    margin: 10px;
}

.fancy-checkbox input[type="checkbox"],
.fancy-checkbox .checked {
    display: none;
}

.fancy-checkbox input[type="checkbox"],
.fancy-checkbox .checked {
    display: none;
}
 
.fancy-checkbox input[type="checkbox"]:checked ~ .checked
{
    display: inline-block;
}
 
.fancy-checkbox input[type="checkbox"]:checked ~ .unchecked
{
    display: none;
}

.fancy-checkbox .checked {
    color: rgb(255, 102, 0);
}
.fancy-checkbox .unchecked {
    color: lime;
}
.fancy-checkbox .unchecked,
.fancy-checkbox .checked {
    font-size: 2.3rem; 
    position: relative;
    float: right;
    bottom: 4rem;
    right: 4rem;
}

input ~ p {
    display: none;
}
input:checked ~ p {
    display: block;
    border-bottom: 1px solid gray;
    padding: 7px;
}